/* Чем мы занимаемся */

.about-us .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.about-us-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;

  .about-us-list-item {
    position: relative;
    width: 370px;
  }
}

.about-us-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $main-text-color;
  padding-top: 94px;
  padding-bottom: 50px;
}

.about-us-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}
